body{
   height: auto;
}

/* .menu > ul > li > div{
    display: block;
    cursor: pointer;
    background-image: linear-gradient(90deg,#fff 50%,#f7e025 50%);
    width: 100%;
    background-size: 200%;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all .5s;
} */

.sec4{
    height: auto;
}

.sec4 .container{
    width: auto;
    height: auto;
    overflow: visible;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.sec4 .container .item:last-child{
    display: none;
}

@media screen and (max-width: 700px) {
    .sec5{
        padding: 50px 0;
        height: auto;
        display: block;
    }

    .sec5 > h1{
        text-align: center;
        font-size: 60px;
    }

    .sec5 .container{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }

    .sec5 .container .boxleft{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .sec5 .container .boxright{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .sec5 .container .boxright > div > div:last-child{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 375px) {
    .sec4 .container .item{
        width: 300px;
    }
}